// main-button :
@use '../variables';

.main-button {
  background: #fbeee0;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50px;
  box-shadow: #422800 4px 4px 0 0;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  font-size: 18px;
  font-weight: 600;
  font-family: $font-family;

  display: inline-block;
  user-select: none;

  &:hover {
    background-color: rgb(255, 255, 255);
  }

  &:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
}
