@use "../../styles/variables.scss" as *;

// Variables pour la page ProjectDetail :
$main-font: "Poppins", sans-serif;
$main-color: #ece6d7;
$bg-section-dark: rgba(57, 57, 57, 0.5);
$bg-section-light: rgba(91, 91, 91, 0.5);
@mixin container-styles {
  background-color: $bg-section-light;
  padding: 20px;
  border-radius: 20px;
}

//=> Container de la page [ ProjectDetail ]
.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  //-> Container du projet
  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    margin-inline: 72px;

    //> Component : [ Header du projet ]
    .project-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      width: 100%;

      //=== [ Titre du projet ]
      .project-title-container {
        // Titre du projet
        .project-title {
          font-family: $main-font;
          text-transform: uppercase;
          font-size: 48px;
          -webkit-text-stroke: 1px $main-color;
          -webkit-text-fill-color: transparent;
        }
      }
      
      //=== [ Image du projet ]
      .project-image-container {
        width: 100%;
        height: 50vh;
        background-color: rgba(57, 57, 57, 0.5);
        padding: 20px;
        border-radius: 20px;
        overflow: hidden;

        // Image du projet
        .project-image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20px;
        }
      }
    }



    //-> Container du 1er bloc du projet : [ Description, Liens, Stacks ]
    .project-content {
      display: flex;
      width: 100%;
      background-color: rgba(57, 57, 57, 0.5);
      padding: 20px;
      border-radius: 20px;
      gap: 40px;
      overflow: hidden;

      //-> Container de la description du projet
      .project-description-wrapper {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        //-> Titre de la description du projet
        .project-description-title {
          color: $main-color;
          font-family: $main-font;
          text-transform: uppercase;
          font-size: 24px;
          text-align: center;
          @include container-styles;
        }

        //-> Description du projet (voir CardData.ts)
        .project-description-text {
          color: $main-color;
          font-family: $main-font;
          font-size: 16px;
          text-align: justify;
          line-height: 1.75rem;
          @include container-styles;
        }

        //> Composant : [ Liens du projet ]
        .project-links {
          display: flex;
          border-radius: 20px;
          gap: 40px;

          // Lien du projet
          .project-link {
            align-items: center;
            display: flex;
            width: 100%;
            @include container-styles;

            // Icone du lien
            .project-link-icon {
              width: 32px;
              height: 32px;
            }

            // Texte du lien
            .project-link-text {
              margin-left: 20px;
              color: $main-color;
              font-family: $main-font;
              font-size: 16px;
            }
          }
        }
      }

      //> Composant : [ Stacks du projet ]
      .project-stack-wrapper {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        // Titre du container des stacks
        .project-stack-title {
          color: $main-color;
          font-family: $main-font;
          text-transform: uppercase;
          font-size: 24px;
          text-align: center;
          @include container-styles;
        }

        // Liste des stacks
        .project-stack-list {
          @include container-styles;
        }

        // Item de la liste des stacks
        .project-stack-item {
          color: $main-color;
          font-family: $main-font;
          font-size: 16px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-block: 10px;

          // Icone de la stack
          .project-stack-icon {
            width: 32px;
            height: 32px;
          }
        }
      }
    }
    //-> Container du 2ème bloc du projet : [Titre, Vidéo Youtube, Description ]
    .project-content-youtube {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: rgba(57, 57, 57, 0.5);
      padding: 20px;
      border-radius: 20px;

      //-> Wrapper du container (contient le titre et le composant [ Vidéo Youtube ])
      .project-youtube-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        // Titre du container
        .project-youtube-title {
          color: $main-color;
          font-family: $main-font;
          text-transform: uppercase;
          font-size: 24px;
          text-align: center;
          @include container-styles;
        }

        //> Composant : [ ProjectYoutube ]
        .project-youtube {
          width: 100%;
          height: calc(
            50vh - 45px
          ); // Soustrait le padding (20px haut + 20px bas)
          display: flex;
          align-items: center;
          gap: 40px;

          // Container de la vidéo
          .project-youtube-video {
            width: 50%;
            height: 100%;
            @include container-styles;
          }

          // Vidéo Youtube
          iframe {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            border: none;
          }

          // Container de la description
          .project-youtube-text {
            width: 50%;
            height: 100%;

            // Description
            .project-youtube-text-description {
              color: $main-color;
              font-family: $main-font;
              font-size: 16px;
              text-align: justify;
              @include container-styles;
              height: 100%;
              line-height: 1.75rem;
            }
          }
        }
      }
    }
  }
}
