

// Responsive breakpoints
@mixin mobile-portrait {
  @media (max-width: 968px) {
    @content;
  }
}

@mixin mobile-landscape {
  @media (max-width: 968px) and (orientation: landscape) {
    @content;
  }
}

//==================================================//

// Banner
$banner-bg: linear-gradient(to left, #363636, #000);
$container-bg: #f4f3ed;
$text-color: #323232;
$font-weight-bold: 600;
$font-family: "Poppins", sans-serif;

// Error page
$main-font: "Poppins", sans-serif;

$height-with-navbar: calc(100vh - 50px);
$debug: 2px solid red;


// Variables pour la page ProjectDetail :
$main-font: "Poppins", sans-serif;
$main-color: #ece6d7;
$bg-section-dark: rgba(57, 57, 57, 0.5);
$bg-section-light: rgba(91, 91, 91, 0.5);
