@use '../../styles/variables' as *;

.links-container {
  width: 100%;
  height: clamp(100px, $height-with-navbar - 50vh, 1400px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}


.avatar-video {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;

  @include mobile-portrait {
    width: 150px;
    height: 150px;
  }
}

.links-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.links-item {
  display: flex;
  align-items: center;
  gap: 16px;

  &:hover {
    .links-item-icon {
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
      background: #ffffff;
    }
  }

  .links-item-icon {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;

    @include mobile-portrait {
      width: 48px;
      height: 48px;
    }
  }

  .links-item-text {
    font-size: 20px;
    font-weight: 500;

    @include mobile-portrait {
      font-size: 16px;
    }
  }
}
