@use '../../../../styles/variables' as *;

//> Component : [ Header du projet ]
.project-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;

  //=== [ Titre du projet ]
  &__title {
    @include section-styles;
    width: 100%;
    display: flex;
    justify-content: center;

    &__text {
      @include container-styles;
      width: 100%;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      font-size: clamp(2rem, 5vw, 3rem);
      -webkit-text-stroke: 1px $main-color;
      -webkit-text-fill-color: transparent;
    }
  }

  //=== [ Image du projet ]
  &__image {
    @include section-styles;
    width: 100%;
    height: 50vh;
    // Image du projet
    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }
}
